.slider__wrap {
	overflow: hidden;
  }
  
  .slick-list {
	position: relative;
	z-index: 0;
  }
  
  .slider__item {
	position: relative;
	float: left;
  }
  
  .slick-slide {
	outline: 0;
  }
  
  .slider__thumbnail .slick-slide {
	cursor: pointer;
  }
  
  /*# sourceMappingURL=slider.css.map */
  